@model GameStore.WebUI.Models.GameOrderViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GameOrderViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @Html.DisplayFor(model => model.Customer.FirstName)
                @Html.DisplayFor(model => model.Customer.LastName)
            </div>
            <div class="form-group">
                <td>
                    @Html.DropDownListFor(m => Model.StoreName, Model.ListOfStores, "Select Stores")
                </td>
            </div>

            @Html.HiddenFor(m => Model.CustomerId)
            @Html.HiddenFor(m => Model.OrderID)

            <div class="form-group">
                <td>
                        @Html.DropDownListFor(m => Model.GameName, Model.ListOfGames, "Select Game")
                </td>
            </div>

            <div class="form-group">
                <label asp-for="Quantity" class="control-label"></label>
                @Html.DropDownListFor(m => Model.Quantity, Enumerable.Range(0, 15).Select(x => new SelectListItem { Text = x.ToString(), Value = x.ToString() }))

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
